<ng-container *ngIf="sys">
    <section class="home-casino-games home-games-list standard-section bg-dark-3" id="casino-games">
        <article class="txt-center">
            <h2 class="lato weight-500 title-section light-2">
                <small class="weight-300 block">Win instant prizes</small>
                Casino Games
            </h2>
            <div class="iframe-box relative-left full-width padding-top-bottom-40"
                style="background:url(./assets/images/wt/open-games/casino/games-play-bg-min.jpg) center 0 no-repeat;">
                <div class="content-wrap" [ngClass]="{'show-game': showGame}">
                    <iframe *ngIf="showGame" class="iframe-game borderAnim" id="game" allowfullscreen="true"
                        src="https://gserver-rtg.redtiger-demo.com/rtg/launcher/piratesplentybattleforgold" width="100%"
                        height="100%" frameborder="0"></iframe>
                    <img *ngIf="!showGame" class="iframe-game borderAnim"
                        src="./assets/images/wt/open-games/casino/games-play-min.jpg">
                    <div *ngIf="!showGame"
                        class="iframe-game-cover absolute full-width full-height top-0 left-0 bg-light-2">
                        <div
                            class="iframe-game-text-box absolute bottom-0 left-0 full-width padding-30 flex row wrap y-items-center x-content-center">
                            <div>
                                <h3 class="lato weight-900 light-2 margin-bottom-20">
                                    Pirates' Plenty Battle for Gold
                                </h3>
                                <p class="lato weight-300 light-2 margin-bottom-30">
                                    If you enjoyed the smash hit, Pirates' Plenty - The Sunken Treasure, you'll love the
                                    sequel, Battle for Gold! Collect all pieces of the map to unlock the fourth Wild
                                    Island Row and the chance of bountiful wins of over <strong
                                        class="weight-900 light-7">5.000x</strong>!
                                </p>
                                <button class="button orange margin-left-right-5" (click)="playGame()">Play
                                    Now!</button>
                                <button class="button outline margin-left-right-5" (click)="playGame()">Play
                                    Demo</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="games-categories relative-left full-width margin-top-40 sc-category">
                <div class="content-wrap">
                    <h3 class="lato weight-300 light-2 relative-left full-width txt-left margin-bottom-15">
                        Hot
                    </h3>
                    <app-standard-slider>
                        <li class="swiper-slide sslide-box-fx3 relative-left overflow-hidden" *ngFor="let item of hot"
                            [ngClass]="{'shine':item.new}">
                            <img [attr.src]="'./assets/images/casino-games/'+item.id+'.jpg'" />
                            <p *ngIf="item.new || item.popular"
                                class="simple-ribbon absolute top-0 left-0 uppercase lato weight-600 light-2"
                                [ngClass]="[item.new ? 'new-game' : 'popular-game']">
                                <ng-container *ngIf="item.new">New</ng-container>
                                <ng-container *ngIf="item.popular">Popular</ng-container>
                            </p>
                            <div
                                class="cover-fx3 absolute top-0 left-0 full-width full-height black-bgg-fx txt-center table">
                                <div class="cell">
                                    <a href="#" class="play-now-main lato light-2 weight-600 uppercase block">
                                      Play Now
                                    </a>
                                    <a href="#"
                                        class="play-demo margin-top-10 weight-300 inline-block light-2 capitalize padding-5">
                                       Play Demo</a>
                                </div>
                            </div>
                        </li>
                    </app-standard-slider>

                    <h3 class="lato weight-300 light-2 relative-left full-width txt-left margin-bottom-15">
                        Slots
                    </h3>
                    <app-standard-slider>
                        <li class="swiper-slide sslide-box-fx3 relative-left overflow-hidden" *ngFor="let item of slots"
                            [ngClass]="{'shine':item.new}">
                            <img [attr.src]="'./assets/images/casino-games/'+item.id+'.jpg'" />
                            <p *ngIf="item.new || item.popular"
                                class="simple-ribbon absolute top-0 left-0 uppercase lato weight-600 light-2"
                                [ngClass]="[item.new ? 'new-game' : 'popular-game']">
                                <ng-container *ngIf="item.new">New</ng-container>
                                <ng-container *ngIf="item.popular">Popular</ng-container>
                            </p>
                            <div
                                class="cover-fx3 absolute top-0 left-0 full-width full-height black-bgg-fx txt-center table">
                                <div class="cell">
                                    <a href="#" class="play-now-main lato light-2 weight-600 uppercase block">
                                       Play Now
                                    </a>
                                    <a href="#"
                                        class="play-demo margin-top-10 weight-300 inline-block light-2 capitalize padding-5">
                                        Plat Demo</a>
                                </div>
                            </div>
                        </li>
                    </app-standard-slider>

                    <h3 class="lato weight-300 light-2 relative-left full-width txt-left margin-bottom-15">
                        Tables
                    </h3>
                    <app-standard-slider>
                        <li class="swiper-slide sslide-box-fx3 relative-left overflow-hidden" *ngFor="let item of table"
                            [ngClass]="{'shine':item.new}">
                            <img [attr.src]="'./assets/images/casino-games/'+item.id+'.jpg'" />
                            <p *ngIf="item.new || item.popular"
                                class="simple-ribbon absolute top-0 left-0 uppercase lato weight-600 light-2"
                                [ngClass]="[item.new ? 'new-game' : 'popular-game']">
                                <ng-container *ngIf="item.new">Now</ng-container>
                                <ng-container *ngIf="item.popular">Popular</ng-container>
                            </p>
                            <div
                                class="cover-fx3 absolute top-0 left-0 full-width full-height black-bgg-fx txt-center table">
                                <div class="cell">
                                    <a href="#" class="play-now-main lato light-2 weight-600 uppercase block">
                                        Play Now
                                    </a>
                                    <a href="#"
                                        class="play-demo margin-top-10 weight-300 inline-block light-2 capitalize padding-5">
                                       Play Demo</a>
                                </div>
                            </div>
                        </li>
                    </app-standard-slider>

                    <h3 class="lato weight-300 light-2 relative-left full-width txt-left margin-bottom-15">
                        Card Games
                    </h3>
                    <app-standard-slider>
                        <li class="swiper-slide sslide-box-fx3 relative-left overflow-hidden" *ngFor="let item of cards"
                            [ngClass]="{'shine':item.new}">
                            <img [attr.src]="'./assets/images/casino-games/'+item.id+'.jpg'" />
                            <p *ngIf="item.new || item.popular"
                                class="simple-ribbon absolute top-0 left-0 uppercase lato weight-600 light-2"
                                [ngClass]="[item.new ? 'new-game' : 'popular-game']">
                                <ng-container *ngIf="item.new">Now</ng-container>
                                <ng-container *ngIf="item.popular">Popular</ng-container>
                            </p>
                            <div
                                class="cover-fx3 absolute top-0 left-0 full-width full-height black-bgg-fx txt-center table">
                                <div class="cell">
                                    <a href="#" class="play-now-main lato light-2 weight-600 uppercase block">
                                        Play Now
                                        </a>
                                    <a href="#"
                                        class="play-demo margin-top-10 weight-300 inline-block light-2 capitalize padding-5">
                                        Play Demo</a>
                                </div>
                            </div>
                        </li>
                    </app-standard-slider>

                </div>

            </div>

        </article>
        <!--<article class="content-wrap txt-center">
            <h2 class="lato weight-500 title-section light-2">
                <small class="weight-300 block">Win instant prizes</small>
                 Casino Games 
            </h2>
            <app-featured-list gameType="games" ></app-featured-list>
            <div class="relative-left full-width margin-top-bottom-15 home-casino-slider standard-slider">
                <button class="button black">View All</button>
            </div>
        </article>-->
    </section>
</ng-container>
<ng-container *ngIf="!sys">
    <section class="home-casion-games standard-section green-bgg" id="casino-games">
        <article class="content-wrap">
            <h2 class="relative-left full-width weight-600 roboto section-title light-2 margin-bottom-20">
                <span class="block margin-bottom-5">
                    Games
                </span>
                <small class="block weight-300">
                    Win instant prizes with Games
                </small>
            </h2>
            <app-featured-list gameType="games"></app-featured-list>
            <div class="relative-left full-width margin-bottom-15 home-casino-slider standard-slider">
                <app-standard-slider>
                    <li class="swiper-slide sslide-box-fx2 relative-left overflow-hidden" *ngFor="let item of ltkGames">

                        <img [attr.src]="'./assets/images/casino-games/'+item.id+'.jpg'" />
                        <div
                            class="cover-fx2 absolute top-0 left-0 full-width full-height black-bgg-fx txt-center table">
                            <div class="cell">
                                <p class="button green">Play Now</p>
                            </div>
                        </div>

                        <a href="#" aria-hidden="true" role="button" class="full-surface z-index-100"></a>
                    </li>
                </app-standard-slider>
            </div>
        </article>
    </section>
</ng-container>