// margin
%margin-none {
  margin:0;
}

%margin-none-important {
  margin:0!important;
}

%margin-auto {
  margin:0 auto;
}

.margin-auto {
  @extend %margin-auto;
}

.margin-none {
  @extend %margin-none;
}

.margin-none-important {
  @extend %margin-none-important;
}
