<div class="relative overflow-hidden stepper-box account-form-wrap full-width padding-left-right-40 lato">
    <h3 *ngIf="error && !loading" class="relative-left full-width margin-bottom-35">
      <small class="block margin-top-5" class="login-error-msg">
        Oops, something wrong happened. Please Try Again
      </small>
    </h3>
    <mat-horizontal-stepper *ngIf="!error" labelPosition="bottom" #stepper [linear]="isLinear">
      <mat-step [stepControl]="loginInfo">
        <ng-template matStepLabel>Login Information</ng-template>
        <form *ngIf="profileDetails && !loading" [formGroup]="loginInfo">
          <mat-form-field class="full-width margin-top-bottom-10">
            <mat-label>Email</mat-label>
            <input required formControlName="email" type="email" matInput
              placeholder="Ex. john@example.com">
            <mat-icon matPrefix>email</mat-icon>
            <mat-error>Fill your email</mat-error>
          </mat-form-field>
          <div class="relative-left full-width two-boxes margin-top-bottom-10">
            <mat-form-field class="box">
              <mat-label>First name</mat-label>
              <input required formControlName="name" type="text" matInput
                placeholder="Ex. John">
              <mat-icon matPrefix>account_circle</mat-icon>
              <mat-error *ngIf="loginInfo.get('name').errors?.required || loginInfo.get('name').errors?.minlength">Fill your name</mat-error>
              <mat-error *ngIf="loginInfo.get('name').errors?.pattern">Enter a valid name</mat-error>
            </mat-form-field>
            <mat-form-field clafirstNamess="box" class="box">
              <mat-label>Last name</mat-label>
              <input required formControlName="last_name" type="text" matInput
                placeholder="Ex. Thompson Wayne">
              <mat-icon matPrefix>account_circle</mat-icon>
              <mat-error *ngIf="loginInfo.get('last_name').errors?.required || loginInfo.get('last_name').errors?.minlength">Fill your last name</mat-error>
              <mat-error *ngIf="loginInfo.get('last_name').errors?.pattern">Enter a valid last name</mat-error>
            </mat-form-field>
          </div>
          <mat-form-field class="full-width margin-top-bottom-10">
            <mat-label>Phone</mat-label>
            <span matPrefix>+&nbsp;</span>
            <input required formControlName="phone" type="tel" matInput
              placeholder="Only Numbers">
            <mat-icon matSuffix>mode_edit</mat-icon>
            <!--<mat-error>Enter a valid phone number</mat-error>-->
          </mat-form-field>
          <mat-form-field class="full-width margin-top-bottom-10">
            <mat-label>Country</mat-label>
            <input required type="text" placeholder="Ex. Canadá" aria-label="Your Country" matInput formControlName="country" [matAutocomplete]="auto"
              placeholder="Ex. Spain - Type your country">
            <mat-icon matPrefix>landscape</mat-icon>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredCountries | async" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!--
          <div class="relative-left full-width two-boxes margin-top-bottom-10">
            <mat-form-field class="box">
              <mat-label>Password</mat-label>
              <input required formControlName="password" type="password" matInput>
              <mat-icon matPrefix>lock</mat-icon>
              <mat-error>Password required</mat-error>
            </mat-form-field>
            <mat-form-field class="box">
              <mat-label>Re password</mat-label>
              <input required formControlName="password_confirmation" type="password" matInput>
              <mat-icon matPrefix>lock</mat-icon>
              <mat-error *ngIf="loginInfo.get('password_confirmation').errors?.MatchPassword">
                Passwords not match
              </mat-error>
            </mat-form-field>
          </div>
          -->
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
  
      <mat-step [stepControl]="personalInfo">
        <ng-template matStepLabel>Personal Information</ng-template>
        <form *ngIf="profileDetails && !loading" [formGroup]="personalInfo">
          <div class="relative-left basic-notification full-width padding-10 bg-normal-2">
            <h4 class="lato">
              You can complete this information later, if you wish.
            </h4>
          </div>
          <mat-radio-group class="full-width" formControlName="title"
            aria-label="Gender">
            <mat-label>Gender</mat-label>
            <mat-radio-button [checked]="checkfemale" type="number" [value]=1>Female</mat-radio-button>
            <mat-radio-button [checked]="checkmale" type="number" [value]=2>Male</mat-radio-button>
            <mat-radio-button [checked]="checkother" type="number" [value]=3>Other</mat-radio-button>
          </mat-radio-group>
  
          <mat-form-field class="date-picker-width margin-top-bottom-10 fleft">
            <mat-label>Birthday</mat-label>
            <input placeholder="Ex. 05/17/1986" matInput
              [matDatepicker]="birthPicker" formControlName="birthdate" matTooltip="Open datepicker in the icon button"
              aria-label="Open datepicker in the icon button" #birthdate>
            <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
            <mat-datepicker #birthPicker></mat-datepicker>
            <mat-error *ngIf="personalInfo.get('birthdate').errors?.required">Required</mat-error>
            <mat-error *ngIf="personalInfo.get('birthdate').errors?.InvalidAge">Set a realistic date of birth</mat-error>
            <mat-error *ngIf="personalInfo.get('birthdate').errors?.NotAdult">You must be over 18 years old</mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width margin-top-bottom-10">
            <mat-label>Alternative Email</mat-label>
            <input formControlName="altEmail" type="email" matInput
              placeholder="Ex. john2@example.com">
            <mat-icon matPrefix>email</mat-icon>
          </mat-form-field>
          <div class="relative-left full-width two-boxes margin-top-bottom-10">
            <mat-form-field class="box">
              <mat-label>Address Line 1</mat-label>
              <input formControlName="address1" type="text" matInput
                placeholder="Ex. County Road 570">
              <mat-icon matPrefix>house</mat-icon>
            </mat-form-field>
  
            <mat-form-field class="box">
              <mat-label>Address Line 2</mat-label>
              <input formControlName="address2"  type="text" matInput
                placeholder="Ex. 5427 County Road 570">
              <mat-icon matPrefix>house</mat-icon>
            </mat-form-field>
          </div>
          <div class="relative-left full-width three-boxes margin-top-bottom-10">
            <mat-form-field class="box">
              <mat-label>City</mat-label>
              <input type="text" aria-label="Your City" matInput formControlName="city" placeholder="Ex. London - Type your city">
              <mat-icon matPrefix>business</mat-icon>
              <!--<mat-autocomplete #city="matAutocomplete">
                <mat-option *ngFor="let city of filteredCity | async" [value]="city">
                  {{city}}
                </mat-option>
              </mat-autocomplete>-->
            </mat-form-field>
            <mat-form-field class="box">
              <mat-label>State</mat-label>
              <input type="text" aria-label="Your State" matInput formControlName="state"
                placeholder="Ex. California - Type your state">
              <mat-icon matPrefix>landscape</mat-icon>
              <!--<mat-autocomplete #stateC="matAutocomplete">
                <mat-option *ngFor="let option of filteredState | async" [value]="option.name">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>-->
            </mat-form-field>
            <mat-form-field class="box">
              <mat-label>Zip code</mat-label>
              <input formControlName="zipcode"  type="text" matInput
                placeholder="Ex. 12200">
              <mat-icon matPrefix>bookmarker</mat-icon>
            </mat-form-field>
          </div>
          
          <mat-form-field class="full-width margin-top-bottom-10">
            <mat-label>Preferred Language</mat-label>
            <input type="text" placeholder="Ex. Spanish" aria-label="Your Preferred Language" matInput formControlName="language" [matAutocomplete]="lang">
            <mat-icon matPrefix>language</mat-icon>
            <mat-autocomplete #lang="matAutocomplete">
              <mat-option *ngFor="let lang of filteredLang | async" [value]="lang">
                {{lang}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="full-width margin-top-bottom-10">
            <mat-label>Preferred Currency</mat-label>
            <input type="text" placeholder="Ex. US" aria-label="Your Preferred Currency" matInput
              [formControl]="myCurrencyControl" formControlName="currency" [matAutocomplete]="currency">
            <mat-icon matPrefix>monetization_on</mat-icon>
            <mat-autocomplete #currency="matAutocomplete">
              <mat-option *ngFor="let currency of filteredCurrency | async" [value]="currency">
                {{currency}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="relative-left questions-section full-width margin-top-bottom-10 padding-15 bg-normal-2">
            <hr />
            <mat-form-field class="full-width margin-top-bottom-10">
              <mat-label>Who referred me to the site?<small class="inline-block margin-left-right-5">(Referral)</small>
              </mat-label>
              <textarea formControlName="whoreferall" matInput
                placeholder="Tell us who referred you to Wintrillions.com, thanks!"></textarea>
              <mat-icon matPrefix>group</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-width margin-top-bottom-10">
              <mat-label>How did I know about this site?<small class="inline-block margin-left-right-5"></small>
              </mat-label>
              <textarea formControlName="howreferall" matInput
                placeholder="Tell us how you got to Wintrillons.com, thanks!"></textarea>
              <mat-icon matPrefix>group_work</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div *ngIf="!loading">
          <div class="relative-left full-width margin-top-bottom-25 done-box">
            <h4 *ngIf="!error && !errorSameChanges" class="weight-300">
              You are now done.
            </h4>
            <h3 *ngIf="error" class="relative-left full-width margin-bottom-35">
              <small class="block margin-top-5" class="login-error-msg">
                Something wrone happened, Try Again
              </small>
            </h3>
            <h3 *ngIf="errorSameChanges" class="relative-left full-width margin-bottom-35">
              <small class="block margin-top-5" class="login-error-msg">
                If you want to change your information enter something different
              </small>
            </h3>
          </div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="saveChanges()">Save</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div class="relative-left full-width margin-top-bottom-35 weight-300" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
  <app-simple-modal *ngIf="!error && !errorSameChanges" modalTitle="Attention" closeBtnText="Go it!">
    <p class="weight-300 normal-4">
      Remember to verify your login details and complete your personal information. Thanks!
    </p>
  </app-simple-modal>