<div *ngIf="showRecoveryPassword" class="login-box fixed full-width vh-100 z-index-900 bg-normal-2 lato"
    [@isOpenRecovery]="showRecoveryPassword">
    <div class="login-promo-wrap bg-dark-2 relative-left flex row wrap  full-height padding-20">
        <div>
            <div class="cover-btb"></div>
            <div class="relative login-promo-content">
                <h4 class="weight-900 light-2 opacity-0 fadeIn">
                    You are a winner!
                    <small class="block weight-300 margin-top-5">
                        Play in the best lotteries in the world!
                    </small>
                </h4>
            </div>
        </div>
    </div>
    <div class="login-content-wrap relative-left flex row wrap y-items-center x-content-center full-height padding-20">
        <div class="flex-item">
            <div class="login-content padding-10 txt-center">
                <figure class="login-logo inline-block circle bg-dark-2 margin-bottom-15">
                    <img src="./assets/images/brand-logo/wt/iso.png" alt="logo" />
                </figure>
                <div class="relative-left full-width margin-bottom-10">
                    <h3 class="inline-block weight-300">
                        <ng-container>
                            Enter your new password
                        </ng-container>
                    </h3>
                </div>
                <form [formGroup]="recoveryPasswordForm" class="relative-left full-width">
                    <ng-container>
                        <div class="relative-left full-width two-boxes margin-top-bottom-10">
                            <mat-form-field class="box">
                                <mat-label>Password or PIN</mat-label>
                                <input formControlName="password" matInput placeholder="Enter your Password or PIN"
                                    [type]="isHide ? 'password' : 'text'">
                                <mat-icon matPrefix>lock</mat-icon>
                                <mat-icon class="pointer" matSuffix (click)="showPassword()">
                                    {{isHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="recoveryPasswordForm.get('password').errors?.required">
                                    Enter password
                                </mat-error>
                                <mat-error *ngIf="recoveryPasswordForm.get('password').errors?.minlength">
                                    The minimum character is
                                    {{recoveryPasswordForm.get('password').errors?.minlength.requiredLength}}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="box">
                                <mat-label>Re Password or Re PIN</mat-label>
                                <input formControlName="password_confirmation" matInput placeholder="Confirmation" type="password">
                                <mat-icon matPrefix>lock</mat-icon>
                                <mat-error *ngIf="recoveryPasswordForm.get('password_confirmation').errors?.MatchPassword">
                                    Passwords not match
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <div class="relative-left full-width txt-center padding-bottom-10 padding-bottom-0">
                        <div *ngIf="loading">
                            <app-spinner></app-spinner>
                        </div>
                        <button *ngIf="!loading" (click)="changePassword()" mat-button
                            class="button black md fine">Change Password</button>
                        <h4 *ngIf="errorSamePassword && !loading"
                            class="absolute left-0 login-error-msg full-width txt-center padding-5">
                            You must specify a different password
                        </h4>
                        <h4 *ngIf="error && !loading"
                        class="absolute left-0 login-error-msg full-width txt-center padding-5">
                        Oops, error an ocurred, try again
                    </h4>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button (click)="closeRecovery()" class="close-btn absolute top-20 right-20" mat-icon-button
        aria-label="Close Sign In / Sign Up">
        <mat-icon>close</mat-icon>
    </button>
</div>