<section class="home-new-product standard-section green-bgg" id="sports">
    <article class="content-wrap table full-height">
        <div class="cell">
            <div class="relative-left special-txt-wrap">
                <h4 class="new-game-special-txt roboto weight-900 light-2 uppercase line-height-noraml txt-center">
                    Enjoy
                    <span class="block margin-top-bottom-5">and</span>
                    <span>win</span>
                </h4>
            </div>
            <div class="fright">
                <h2 class="txt-right weight-600 roboto section-title light-2 margin-bottom-20 txt-shadow-dark">
                    Enjoy and win in <strong class="normal-6 weight-700">Sports</strong>!
                    <small class="block roboto weight-300 margin-top-5">The best sports betting</small>
                </h2> 
                <div class="sports-promo-box fright opacity-box-dark txt-center">
                    <h3 class="roboto weight-600 light-2 uppercase txt-shadow-dark block txt-left">
                        <span class="margin-bottom-10 "><span class="normal-8">Join Now</span> and get</span> 
                        <span class="block sports-promo-prize margin-bottom-10">
                            <strong class="inline-block woow normal-6 weight-700 margin-right-5">$10</strong>
                            <span class="weight-300">free bet</span>
                        </span>
                    </h3> 
                    <a href="#" class="button orange md">Join Now!</a>
                </div>
            </div>
        </div>
    </article>
</section>


