<ng-container *ngIf="sys">
    <section class="home-scratch-cards home-games-list standard-section bg-dark-3" id="scratch-games">
        <article class="txt-center">
            <h2 class="lato weight-500 title-section light-2">
                <small class="weight-300 block">{{'WORDS.WININSTANTPRIZES' | translate}}</small>
                {{'SECTION.SCRATCHCARDS' | translate}}
            </h2>
            <div class="iframe-box gradientBg relative-left full-width padding-top-bottom-40">
                <div class="content-wrap">
                    <img class="iframe-game" src="./assets/images/wt/open-games/scratch/scratchs-play.jpg">
                    <div class="iframe-game-cover absolute full-width full-height top-0 left-0 bg-light-2">
                        <div
                            class="iframe-game-text-box absolute bottom-0 left-0 full-width padding-30 flex row wrap y-items-center x-content-center">
                            <div>
                                <h3 class="lato weight-900 light-2 margin-bottom-20">
                                    {{'SECTION.COPSROBBERS' | translate}}
                                </h3>
                                <p class="lato weight-300 light-2 margin-bottom-10">
                                    {{'WORDS.COPSROBBERS.CONTENT' | translate}}
                                    <strong class="weight-900 light-7">€10,000.00</strong>
                                    {{'WORDS.COPSROBBERS.SECURE' | translate}}
                                </p>
                                <p class="scratch-info lato weight-400 light-2 margin-bottom-5">
                                    {{'WORDS.WINUPTO' | translate}}: <strong class="lato weight-900 light-2">10,000.00
                                    </strong>
                                </p>
                                <p class="scratch-info  lato weight-400 light-2 margin-bottom-5">
                                    {{'WORDS.ODDS' | translate}}: <strong class="lato weight-700 light-2">1
                                        {{'WORDS.IN' | translate}}
                                        3.34</strong>
                                </p>
                                <p class="table-pay margin-bottom-30">
                                    <a href="#" class="lato light-6">{{'BOX.TABLEPAY' | translate}}</a>
                                </p>
                                <button class="button orange margin-left-right-5">{{'BOX.BUYNOW' | translate}}!</button>
                                <button class="button outline margin-left-right-5">{{'BOX.DEMO' | translate}}</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="games-categories relative-left full-width sc-category margin-top-40 ">
                <div class="content-wrap">
                    <h3 class="lato weight-300 light-2 relative-left full-width txt-left margin-bottom-15">
                        {{ 'SECTION.ENJOYSCRATCHCARDS' | translate}}
                    </h3>
                    <app-standard-slider>
                        <li class="swiper-slide sslide-box-fx3 relative-left overflow-hidden"
                            *ngFor="let item of scratchs" [ngClass]="{'shine':item.new}">
                            <img [attr.src]="'./assets/images/scratch-cards/'+item.id+'.jpg'" />
                            <p *ngIf="item.new || item.popular"
                                class="simple-ribbon absolute top-0 left-0 uppercase lato weight-600 light-2"
                                [ngClass]="[item.new ? 'new-game' : 'popular-game']">
                                <ng-container *ngIf="item.new">{{ 'BOX.NEW' | translate}}</ng-container>
                                <ng-container *ngIf="item.popular">{{ 'BOX.POPULAR' | translate}}</ng-container>
                            </p>
                            <div
                                class="cover-fx3 absolute top-0 left-0 full-width full-height black-bgg-fx txt-center table">
                                <div class="cell">
                                    <a href="#" class="play-now-main lato light-2 weight-600 uppercase block">
                                        {{ 'BOX.BUYNOW' | translate}}
                                    </a>
                                    <p class="win-up-to lato weight-500 light-2">
                                        {{ 'WORDS.WINUPTO' | translate}}<strong
                                            class="inline-block margin-left-5 weight-900 light-7">{{item.win}}</strong>
                                    </p>
                                    <a href="#"
                                        class="play-demo margin-top-10 weight-300 inline-block light-2 capitalize padding-5">
                                        {{ 'BOX.DEMO' | translate}}</a>
                                </div>
                            </div>
                        </li>
                    </app-standard-slider>
                </div>

            </div>

        </article>
    </section>
</ng-container>
<ng-container *ngIf="!sys">
    <section class="home-scratch-cards standard-section yellow-bgg" id="scratch-games">
        <article class="content-wrap">
            <h2 class="relative-left full-width weight-600 roboto section-title light-2 margin-bottom-20">
                <span class="block margin-bottom-5">
                    Scratch Cards
                </span>
                <small class="block weight-300">
                    Win instant prizes with Scratch Cards
                </small>
            </h2>
            <app-featured-list gameType="scratch" [bigLeft]="true"></app-featured-list>
            <div class="relative-left full-width margin-bottom-15 home-casino-slider standard-slider">
                <app-standard-slider>
                    <li class="swiper-slide sslide-box-fx2 relative-left overflow-hidden" *ngFor="let item of ltkGames">

                        <img [attr.src]="'./assets/images/scratch-cards/'+item.id+'.jpg'" />
                        <div
                            class="cover-fx2 absolute top-0 left-0 full-width full-height black-bgg-fx txt-center table">
                            <div class="cell">
                                <p class="button green">Buy Now!</p>
                            </div>
                        </div>

                        <a href="#" aria-hidden="true" role="button" class="full-surface z-index-100"></a>
                    </li>
                </app-standard-slider>
            </div>
        </article>
    </section>
</ng-container>