<section class="home-syndicates-promo standard-section bg-light-2">
    <article class="content-wrap txt-center">

        <div class="relative-left two-boxes full-width flex row y-items-center wrap space-between">
            <div class="item">
                <video muted onloadedmetadata="this.muted=true" preload autoplay loop>
                    <source src="./assets/videos/spot1.mp4" type="video/mp4">
                </video>
            </div>
            <div class="item">
                <h3 class="lato weight-500 title-section ">
                    Lottery Results
                    <small class="weight-300 block">are you a winner?</small>
                </h3>
                <p class="lato weight-400 margin-bottom-20">
                    Show results here
                </p>
                <button class="button black md">
                   View
                </button>
            </div>
        </div>
    </article>
</section>