//button
@mixin button($fontSize, $height, $lineHeight, $paddingLeft, $paddingRight, $radius){
  height: $height;
  line-height: $lineHeight;
  font-size: $fontSize;
  padding:0 $paddingRight 0 $paddingLeft;
  @extend %inline-block;
  color: map-get(map-get($sitePalette, c2), secondary);
  @each $prefix in $prefixes {
    @if($prefix != nth($prefixes, 2)) {
        #{$prefix + border-radius}: $radius;
        #{$prefix}border-radius:$radius;
    }
  }
  @extend %txt-center;
  @extend %underline-none;
  border-radius: $radius;
  @extend %transition-035;
  @extend %pointer;
};

//presets
.button {
  @extend %lato;
  @extend %light-2;
  @include button(1.8em, 38px, 38px, 25px, 25px, 50px);
  &:hover {
    @extend %light-2;
  }
}

.wt .button {
  @include button(1.8em, 38px, 38px, 25px, 25px, 5px);
}

.wt .button.bx {
  @include button(1.8em, 38px, 38px, 25px, 25px, 0);
}

.wt .button.outline {
  border:1px solid map-get(map-get($sitePalette, c2), secondary);
  @extend %bg-dark-3;
  &:hover {
    border:1px solid map-get(map-get($sitePalette, c2), tertiary);
  }
}

.button.md {
  @include button(2.5em, 45px, 45px, 25px, 25px, 50px);
}

.wt .button.md {
  @include button(2.5em, 45px, 45px, 25px, 25px, 5px);
}

.button.md.fine {
  @include button(1.8em, 35px, 35px, 35px, 35px, 5px);
  @extend %weight-300;
}

.button.md.fine {
  @include button(1.8em, 35px, 35px, 35px, 35px, 5px);
}

.button.between-space {
  @extend %margin-left-right-5;
}

.wt {
  .button.md.fine {
    @include button(1.8em, 35px, 35px, 35px, 35px, 5px);
    @extend %weight-300;
  }
}


.bottom-sheet-content .button.md.fine,
.wt .button.sm.fine,
.button.sm.fine {
  @include button(1.3em, 30px, 30px, 30px, 30px, 5px);
  @extend %weight-300;
  @media only screen and (max-width:480px){
    font-size:1.2em;
  }
}

.button.big {
  @include button(2.5em, 48px, 48px, 30px, 30px, 50px);
}

.wt .button.big {
  @include button(2.5em, 48px, 48px, 30px, 30px, 5px);
}

 button.button {
   @extend %border-none;
 }

 .button.green {
   @extend %bg-normal-7;
   &:hover {
    @extend %bg-dark-7;
   }
 }

 .button.red {
    @extend %bg-light-5;
    &:hover {
    @extend %bg-normal-5;
    }
  }

  .button.orange {
    @extend %bg-normal-9;
    &:hover {
     @extend %bg-dark-9;
    }
  }

  .button.yellow {
    @extend %bg-normal-6;
    &:hover {
    @extend %bg-dark-6;
    }
  }

  .button.black {
    @extend %bg-normal-3;
    &:hover {
    @extend %bg-normal-5;
    }
  }

  .button.black.h-green {
    &:hover {
      @extend %bg-normal-7;
    }
  }

  .button.gray {
    @extend %bg-light-4;
    &:hover {
    @extend %bg-normal-4;
    }
  }

  .button.filled {
    border:1px solid #000;
    @extend %bg-transparent;
    @extend %bg-normal-3;
    &:hover {
    @extend %bg-dark-3;
    }
  }

  .mat-mini-fab.mat-accent {
    @extend %bg-normal-1;
  }

.mat-icon-button.mat-sm {
  width:25px;
  height:25px;
  font-size:20px;
  line-height: 25px;
 
}
