.mat-dialog-container {
    padding:15px!important;
}

    .standard-modal {
        min-height:150px;
        h4 {
            font-size:1.8em;
        }
    
        .mat-icon-button {
            @extend %absolute;
            @extend %top--10;
            @extend %right--10;
            width:25px;
            height: 25px;
            line-height: 25px;
            font-size:2em;
        }
    }




