
.ribbon {
  span {
    &::before{
      content: '';
      @extend %absolute; @extend %left-0; 
      border-left: 3px solid map-get(map-get($sitePalette, c5), primary);
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-top: 3px solid map-get(map-get($sitePalette, c5), primary);
    };
    &::after{
      content: '';
      @extend %absolute; @extend %right-0;
      z-index: -1;
      border-left: 3px solid transparent;
      border-right: 3px solid map-get(map-get($sitePalette, c5), primary);
      border-bottom: 3px solid transparent;
      border-top: 3px solid map-get(map-get($sitePalette, c5), primary);
    }
  }
}

.simple-ribbon {
  @include customRadius(0, 0, 10px, 0);
}
.simple-ribbon.new-game {
  background: rgb(114,0,0);
  background: linear-gradient(90deg, rgba(114,0,0,1) 0%, rgba(169,0,16,1) 39%, rgba(0,0,0,1) 100%);
}
.simple-ribbon.popular-game {
  background: rgb(37,133,0);
  background: linear-gradient(90deg, rgba(37,133,0,1) 0%, rgba(95,182,2,1) 39%, rgba(0,0,0,1) 100%);
}