<div class="relative-left bottom-sheet-content full-width x-content-center y-items-center txt-center lato padding-20">
    <div>
        <h5 class="weight-300">
            Almost everything is ready!
            <small class="block margin-top-5 weight-400">
                Verify your email and start enjoying and winning 
            </small>
        </h5>
        <hr>
        <p class="weight-300 margin-top-10">
            We have sent you a confirmation message to your email
        </p>
        <p class="weight-300 margin-top-bottom-5">
            If you don't see it, check your span folder
        </p>
        <p class="weight-300 margin-top-bottom-5">
            If after 10 seconds you have not received a confirmation email, please enter your email again
        </p>
        <button (click)="closeEmailSheet()" mat-button class="button black md fine margin-top-15"
            aria-label="Close Dialog">Go It!</button>
    </div>
</div>