<div class="relative txt-center standard-modal flex row wrap y-items-center x-content-center padding-15">
    <div>
        <h4 class="lato weight-300">
            Are you sure you want to logout?
        </h4>
        <hr>
        <button *ngIf="!loading" class="button black h-green md fine between-space" aria-label="Don't close modal"
            mat-button (click)="onNoClick()">No</button>
        <button *ngIf="!loading"  class="button  gray md fine between-space" aria-label="Close modal" mat-button
            (click)="logout()" tabIndex="-1"> Yes</button>
        <div *ngIf="loading">
            <app-spinner diameter="30"></app-spinner>
        </div>
        <button (click)="onNoClick()" mat-icon-button aria-label="Close modal icon" aria-hidden="true">
            <mat-icon inline>
                close
            </mat-icon>
        </button>
    </div>

</div>