<div *ngIf="showSignInUp" class="login-box fixed full-width vh-100 z-index-900 bg-normal-2 lato"
    [@isOpenLogin]="showSignInUp">
    <div class="login-promo-wrap bg-dark-2 relative-left flex row wrap  full-height padding-20">
        <div>
            <div class="cover-btb"></div>
            <div class="relative login-promo-content">
                <h4 class="weight-900 light-2 opacity-0 fadeIn">
                    {{'WORDS.YOUAREAWINNER' | translate}}!
                    <small class="block weight-300 margin-top-5">
                        {{'WORDS.PLAYINTHEBEST' | translate}}!
                    </small>
                </h4>
            </div>
        </div>
    </div>
    <div class="login-content-wrap relative-left flex row wrap y-items-center x-content-center full-height padding-20">
        <div class="flex-item">
            <div class="login-content padding-10 txt-center">
                <figure class="login-logo inline-block circle bg-dark-2 margin-bottom-15">
                    <img src="./assets/images/brand-logo/wt/iso.png" alt="logo" />
                </figure>
                <div class="relative-left full-width margin-bottom-10" [ngClass]="{'fPass-title': forgotPass}">
                    <h3 class="inline-block weight-300">
                        <ng-container *ngIf="!forgotPass else fPass">
                            {{setTitle | translate}}
                        </ng-container>
                        <ng-template #fPass>
                            {{'LOGIN.FORGOTPASSWORD.TITTLE' | translate}}
                        </ng-template>
                    </h3>
                    <ng-container *ngIf="forgotPass">
                        <p class="weight-300 forgot-pass-fp">
                            {{'LOGIN.FORGOTPASSWORD.SUBTITLE' | translate}}
                        </p>
                        <p class="weight-400 forgot-pass-p margin-top-bottom-5">
                            {{'LOGIN.FORGOTPASSWORD.CONTENT' | translate}}:
                        </p>
                    </ng-container>
                </div>

                <form *ngIf="state" [formGroup]="loginForm" class="relative-left full-width">
                    <mat-form-field class="full-width margin-top-bottom-10">
                        <mat-label> {{'LOGIN.PLACEHOLDER.EMAIL' | translate}}</mat-label>
                        <input oninput="this.value = this.value.toLowerCase()" formControlName="username" type="email"
                            matInput placeholder="Ex. john@example.com">
                        <mat-icon matPrefix>email</mat-icon>
                        <mat-error
                            *ngIf="loginForm.get('username').hasError('username') && !loginForm.get('username').hasError('required') && loginForm.get('username').hasError('pattern')">
                            {{'LOGIN.VALIDATE.MAIL.ENTER' | translate}}
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('username').hasError('required')">
                            {{'LOGIN.VALIDATE.MAIL.REQUIRED' | translate}}
                        </mat-error>
                    </mat-form-field>
                    <ng-container *ngIf="!forgotPass">
                        <div class="relative-left full-width margin-top-bottom-10">
                            <mat-form-field class="full-width" [ngClass]="[state ? 'full-width' : 'box']">
                                <mat-label>{{'LOGIN.PLACEHOLDER.PASSWORD' | translate}}</mat-label>
                                <input formControlName="password" matInput
                                    placeholder="{{'LOGIN.VALIDATE.PASSWORD.ENTER' | translate}}"
                                    [type]="isHide ? 'password' : 'text'">
                                <mat-icon matPrefix>lock</mat-icon>
                                <mat-icon class="pointer" matSuffix (click)="showPassword()">
                                    {{isHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="loginForm.get('password').hasError('required')">
                                    {{'LOGIN.VALIDATE.PASSWORD.ENTER' | translate}}
                                </mat-error>
                                <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
                                    {{'LOGIN.VALIDATE.PASSWORD.MINIMUN' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="state && !forgotPass">
                        <div class="relative-left full-width margin-bottom-10 txt-right">
                            <a (click)="isForgotPass($event)" href="#" class="link"
                                title="{{'LOGIN.ACTIONS.FORGOTPASSWORD' | translate}}">
                                {{'LOGIN.ACTIONS.FORGOTPASSWORD' | translate}}
                            </a>
                        </div>
                        <div class="relative-left full-width margin-bottom-20 txt-left">
                            <mat-slide-toggle>{{'LOGIN.ACTIONS.KEEPLOGGEDIN' | translate}}</mat-slide-toggle>
                        </div>
                    </ng-container>

                    <div class="relative-left full-width txt-center padding-bottom-10 padding-bottom-0">
                        <div *ngIf="loading">
                            <app-spinner></app-spinner>
                        </div>
                        <div *ngIf="loading && forgotPass">
                            <app-spinner></app-spinner>
                        </div>
                        <button *ngIf="state && !forgotPass && !loading" (click)="loginUser()" mat-button
                            class="button black md fine">{{'LOGIN.ACTIONS.SINGIN' | translate}}</button>
                        <button *ngIf="!loading && forgotPass" mat-button class="button black md fine"
                            (click)="recoveryAccount()">
                            {{'LOGIN.ACTIONS.SENDMAILRECOVERY' | translate}}
                        </button>
                        <h4 *ngIf="errorRecovery && !loading && forgotPass"
                            class="absolute left-0 login-error-msg full-width txt-center padding-5">
                            {{'ERROR.RECOVERYACCOUNT' | translate}}
                        </h4>
                        <h4 *ngIf="errorCredentials && !loading"
                            class="absolute left-0 login-error-msg full-width txt-center padding-5">
                            {{'ERROR.BADDATA' | translate}}
                        </h4>
                    </div>
                </form>
                <form [formGroup]="registerForm" *ngIf="!state" class="relative-left full-width">
                    <div *ngIf="!isStep">
                        <div class="relative-left full-width two-boxes margin-top-bottom-10">
                            <mat-form-field class="box">
                                <mat-label>{{'LOGIN.PLACEHOLDER.NAMEFIRST' | translate}}</mat-label>
                                <input formControlName="name" type="text" matInput placeholder="Ex. John">
                                <mat-icon matPrefix>account_circle</mat-icon>
                                <mat-error *ngIf="registerForm.get('name').hasError('required')">
                                    {{'LOGIN.VALIDATE.NAME.REQUIRED' | translate}}
                                </mat-error>
                                <mat-error
                                    *ngIf="registerForm.get('name').hasError('minlength') || registerForm.get('name').errors?.pattern">
                                    {{'LOGIN.VALIDATE.NAME.ENTER' | translate}}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="box">
                                <mat-label>{{'LOGIN.PLACEHOLDER.NAMELAST' | translate}}</mat-label>
                                <input formControlName="last_name" type="text" matInput placeholder="Ex. Smith">
                                <mat-icon matPrefix>account_circle</mat-icon>
                                <mat-error *ngIf="registerForm.get('last_name').errors?.required">
                                    {{'LOGIN.VALIDATE.NAME.REQUIRED' | translate}}
                                </mat-error>
                                <mat-error
                                    *ngIf="registerForm.get('last_name').errors?.minlength || registerForm.get('last_name').errors?.pattern">
                                    {{'LOGIN.VALIDATE.NAME.ENTER' | translate}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="relative-left full-width two-boxes margin-top-bottom-10">
                            <mat-form-field class="box">
                                <mat-label>{{'LOGIN.PLACEHOLDER.EMAIL' | translate}}</mat-label>
                                <input oninput="this.value = this.value.toLowerCase()" formControlName="email"
                                    type="email" matInput placeholder="Ex. john@example.com">
                                <mat-icon matPrefix>email</mat-icon>
                                <mat-error
                                    *ngIf="registerForm.get('email').errors?.pattern || registerForm.get('email').errors?.email">
                                    {{'LOGIN.VALIDATE.MAIL.ENTER' | translate}}
                                </mat-error>
                                <mat-error *ngIf="registerForm.get('email').errors?.required">
                                    {{'LOGIN.VALIDATE.MAIL.REQUIRED' | translate}}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="box">
                                <mat-label>{{'LOGIN.PLACEHOLDER.EMAILCONFIRM' | translate}}</mat-label>
                                <input oninput="this.value = this.value.toLowerCase()" formControlName="cemail"
                                    type="email" matInput placeholder="Ex. john@example.com">
                                <mat-icon matPrefix>email</mat-icon>
                                <mat-error *ngIf="registerForm.get('cemail').errors?.MatchEmail">
                                    {{'LOGIN.VALIDATE.MAIL.NOMATCH' | translate}}
                                </mat-error>
                            </mat-form-field>
                            <div class="full-width two-boxes margin-top-bottom-10">
                                <p class="form-note relative-right  box">
                                    {{'LOGIN.VALIDATE.MAIL.CONFIRM' | translate}}
                                </p>
                                <p *ngIf="errorMailExist" class="form-note relative-left  box">
                                    <small><span
                                            class="login-error-msg">{{'LOGIN.VALIDATE.MAIL.EXISTS' | translate}}</span><br><a
                                            href="javascript:void(0);" (click)="changeState($event)">
                                            {{'QUESTIONS.DOYOUALREADYANACCOUNT' | translate}}
                                        </a></small>
                                </p>
                            </div>

                        </div>

                        <div class="relative-left full-width margin-top-bottom-10 two-boxes">
                            <mat-form-field class="box">
                                <mat-label>{{'LOGIN.PLACEHOLDER.PASSWORD' | translate}}</mat-label>
                                <input formControlName="password" matInput placeholder="Enter your Password or PIN"
                                    [type]="isHide ? 'password' : 'text'">
                                <mat-icon matPrefix>lock</mat-icon>
                                <mat-icon class="pointer" matSuffix (click)="showPassword()">
                                    {{isHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="registerForm.get('password').errors?.required">
                                    {{'LOGIN.VALIDATE.PASSWORD.ENTER' | translate}}
                                </mat-error>
                                <mat-error *ngIf="registerForm.get('password').errors?.minlength">
                                    {{'LOGIN.VALIDATE.PASSWORD.MINIMUN' | translate}}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="box">
                                <mat-label>{{'LOGIN.PLACEHOLDER.CONFIRMPASSWORD' | translate}}</mat-label>
                                <input formControlName="password_confirmation" matInput placeholder="Confirmation"
                                    [type]="isHide ? 'password' : 'text'">
                                <mat-icon matPrefix>lock</mat-icon>
                                <mat-icon class="pointer" matSuffix (click)="showPassword()">
                                    {{isHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="registerForm.get('password_confirmation').errors?.MatchPassword">
                                    {{'LOGIN.VALIDATE.PASSWORD.NOMATCH' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div *ngIf="isStep">


                        <mat-form-field class="full-width margin-top-bottom-10">
                            <mat-label>{{'LOGIN.PLACEHOLDER.COUNTRY' | translate}}</mat-label>
                            <input type="text" placeholder="Ex. Canadá" aria-label="Your Country" matInput
                                formControlName="country" [matAutocomplete]="auto"
                                placeholder="Ex. Spain - Type your country">
                            <mat-icon matPrefix>landscape</mat-icon>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredCountries | async" [value]="option.name">
                                    {{option.name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="registerForm.get('country').hasError">
                                {{'LOGIN.VALIDATE.COUNTRY.ENTER' | translate}}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="full-width margin-bottom-10 margin-top-10">
                            <mat-label>{{'LOGIN.PLACEHOLDER.PHONE' | translate}}</mat-label>
                            <span matPrefix>+&nbsp;</span>
                            <input formControlName="phone" type="text" matInput placeholder="{{'LOGIN.VALIDATE.PHONE.ONLY' | translate}}">
                            <mat-icon matPrefix>smartphone</mat-icon>
                            <mat-error *ngIf="registerForm.get('phone').hasError('pattern')">
                                {{'LOGIN.VALIDATE.PHONE.ONLY' | translate}}
                            </mat-error>
                            <mat-error *ngIf="registerForm.get('phone').hasError('maxlength')">
                                {{'LOGIN.VALIDATE.PHONE.ENTER' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="relative-left full-width txt-center">
                        <button *ngIf="!loading && !isStep" mat-button class="button black md fine"
                            (click)="changeStep($event)">
                            {{'LOGIN.ACTIONS.NEXT' | translate}}
                        </button>
                        <button *ngIf="!loading && isStep" mat-button class="button black md fine"
                            (click)="registerUser()">
                            {{'LOGIN.ACTIONS.CREATEACCOUNT' | translate}}
                        </button>
                        <div *ngIf="loading">
                            <app-spinner></app-spinner>
                        </div>
                        <h4 *ngIf="error && !loading"
                            class="absolute left-0 login-error-msg full-width txt-center padding-5">
                            {{'ERROR.GENERIC' | translate}}
                        </h4>

                        <p class="margin-top-bottom-5 line-height-normal">
                            {{'LOGIN.TERMS.ICONFIRM' | translate}}<strong class="weight-400"> 18+ </strong> 
                            {{'LOGIN.TERMS.ANDACCEPT' | translate}}
                            <a (click)="openTerminsAndPolicy(2)" href="javascript:void(0);" class="link weight-400"
                                title="Terms and Conditions">
                                {{'LOGIN.TERMS.TERMCOND' | translate}}
                            </a>
                            {{'WORDS.AND' | translate}}
                            <a (click)="openTerminsAndPolicy(1)" href="javascript:void(0);" class="link weight-400"
                                title="Privacy Policy">
                                {{'LOGIN.TERMS.PRIVACY' | translate}}
                            </a>.
                        </p>
                    </div>
                </form>
                <ng-container *ngIf="!forgotPass">
                    <div class="login-content-social-hr relative-left margin-top-bottom-15 full-width">
                        <hr class="relative" />
                        <p class="padding-left-right-10 absolute left-50p bg-normal-2">
                            {{'WORDS.OR' | translate}}
                            <ng-container *ngIf="state">
                                {{('LOGIN.ACTIONS.SINGIN' | translate).toLowerCase()}}</ng-container>
                            <ng-container *ngIf="!state">
                                {{('LOGIN.ACTIONS.SIGNUP' | translate).toLowerCase()}}</ng-container>
                            {{'WORDS.WITH' | translate}}
                        </p>
                    </div>
                    <div class="login-content-social relative-left full-width">

                        <a (click)="loginGoogle($event)" href="#" role="button"
                            class="inline-block circle margin-left-right-5 transition-035"
                            title="{{'LOGIN.ACTIONS.LOGINGOOGLE' | translate}}">
                            <img class="relative top-50p transition-035" src="./assets/images/social-svg/gmail-svg.svg"
                                width="25" alt="Gmail logo" />
                        </a>
                        <a (click)="loginFacebook($event)" href="#" role="button"
                            class="inline-block circle margin-left-right-5 transition-035"
                            title="{{'LOGIN.ACTIONS.LOGINFACEBOOK' | translate}}">
                            <img class="relative top-50p transition-035" src="./assets/images/social-svg/fb-svg.svg"
                                width="12" alt="Facebook logo" />
                        </a>
                    </div>
                    <div class="relative-left login-register full-width margin-top-bottom-10 txt-center">
                        <p class="weight-300 line-height-normal">
                            <ng-container *ngIf="state">
                                {{'QUESTIONS.DOYOUHAVEANACCOUNT' | translate}}
                            </ng-container>
                            <ng-container *ngIf="!state">
                                {{'LOGIN.PLACEHOLDER.ACCESSACCOUNT' | translate}}
                            </ng-container>
                            <a (click)="changeState($event)" href="#" class="block link weight-400"
                                title="Register Now">
                                <ng-container *ngIf="state">
                                    {{'LOGIN.ACTIONS.SIGNUP' | translate}}
                                </ng-container>
                                <ng-container *ngIf="!state">
                                    {{'LOGIN.ACTIONS.SINGIN' | translate}}
                                </ng-container>
                            </a>
                        </p>
                    </div>
                    <p class="ultra-gray line-height-normal">
                        {{'LOGIN.TERMS.PROTECTD' | translate}}
                        <a (click)="openTerminsAndPolicy(1)" href="javascript:void(0);" class="link">
                            {{'LOGIN.TERMS.PRIVACY' | translate}}
                        </a> {{'WORDS.AND' | translate}}
                        <a (click)="openTerminsAndPolicy(3)" href="javascript:void(0);" class="link">
                            {{'LOGIN.TERMS.TERMS' | translate}}
                        </a>.
                    </p>
                </ng-container>
            </div>
        </div>
    </div>

    <button (click)="closeSignInUp()" class="close-btn absolute top-20 right-20" mat-icon-button
        aria-label="Close Sign In / Sign Up">
        <mat-icon>close</mat-icon>
    </button>
    <ng-container *ngIf="forgotPass">
        <button class="back-arrow absolute transition-035" mat-icon-button aria-label="Back icon"
            (click)="isForgotPass($event)">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
    </ng-container>
    <ng-container *ngIf="isStep">
        <button class="back-arrow absolute transition-035" mat-icon-button aria-label="Back icon"
            (click)="changeStep($event)">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
    </ng-container>
</div>