<ng-container *ngIf="wt">
    <button class="main-menu-icon  z-index-800" [ngClass]="[isOpen ? 'light-2' : 'light-c5']" (click)="isOpenMenu()"  mat-icon-button aria-label="Main menu icon" aria-hidden="true">
        <mat-icon inline>
            <ng-container *ngIf="!isOpen">
                menu
            </ng-container >
            <ng-container *ngIf="isOpen">
                close
            </ng-container >
        </mat-icon>
    </button> 
    <nav  *ngIf="isOpen" (swiperight)="isOpenMenu()" class="fixed top-0 right-0 flex row y-items-center x-content-center txt-center main-nav full-width vh-100 z-index-700" [ngClass]="{'is-open':isOpen}" [@isOpenNav2]="isOpen">
        <ul class="bullest-none">
            <li>
                <a routerLink="home" (click)="isOpenMenu()" routerLinkActive="router-link-active">
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                    Lotteries
                </a>
            </li>
            <li>
                <a href="#">
                    Games
                </a>
            </li>
            <li>
                <a href="#">
                    InstantWin
                </a>
            </li>
            <li>
                <a href="#">
                    Syndicates
                </a>
            </li>
            <li>
                <a href="#">
                    Wheels
                </a>
            </li>
            <li>
                <a href="#">
                    Raffles
                </a>
            </li>
            <li>
                <a href="#">
                    Giftcards
                </a>
            </li>
            <li>
                <a href="#">
                    Results
                </a>
            </li>
            <li>
                <a href="#">
                    Contact Us
                </a>
            </li>
            <li>
                <a href="#">
                    FAQs
                </a>
            </li>
        </ul>
    </nav> 
</ng-container>
<ng-container *ngIf="!wt">
    <button class="main-menu-icon light-c5 z-index-800" (click)="isOpenMenu()"  mat-icon-button aria-label="Main menu icon" aria-hidden="true">
        <mat-icon inline>
            <ng-container *ngIf="!isOpen">
                sort
            </ng-container >
            <ng-container *ngIf="isOpen">
                close
            </ng-container >
        </mat-icon>
    </button> 
    <nav  *ngIf="isOpen" (swiperight)="isOpenMenu()" class="fixed top-0 right-0 flex row y-items-center x-content-center txt-center main-nav full-width vh-100 z-index-700" [ngClass]="{'is-open':isOpen}" [@isOpenNav]="isOpen">
        <ul class="bullest-none">
            <li class="account-navigation-box absolute top-0 left-0 full-width padding-top-20 txt-center">
                <button class="main-menu-icon normal-4"  mat-icon-button aria-label="Login" aria-hidden="true">
                    <mat-icon inline>
                        account_circle
                    </mat-icon>
                </button> 
                <button class="main-menu-icon normal-4"  mat-icon-button aria-label="Login" aria-hidden="true">
                    <mat-icon inline>
                        shopping_cart
                    </mat-icon>
                </button> 
            </li>
            <li>
                <a routerLink="home" (click)="isOpenMenu()" routerLinkActive="router-link-active">
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                    Lotteries
                </a>
            </li>
            <li>
                <a href="#">
                    Games
                </a>
            </li>
            <li>
                <a href="#">
                    InstantWin
                </a>
            </li>
            <li>
                <a href="#">
                    Syndicates
                </a>
            </li>
            <li>
                <a href="#">
                    Wheels
                </a>
            </li>
            <li>
                <a href="#">
                    Raffles
                </a>
            </li>
            <li>
                <a href="#">
                    Giftcards
                </a>
            </li>
            <li>
                <a href="#">
                    Results
                </a>
            </li>
            <li>
                <a href="#">
                    Contact Us
                </a>
            </li>
            <li>
                <a href="#">
                    FAQs
                </a>
            </li>
        </ul>
    </nav> 
        
</ng-container>
    
