.body {
    color:map-get(map-get($sitePalette, c3), secondary);
    background:map-get(map-get($sitePalette, c4), secondary);
}

.a {
    &:hover {
        color: map-get(map-get($sitePalette, c1), primary);
    }
}

//main-wrapper
.main-wrapper {
    background-color:map-get(map-get($sitePalette, c2), tertiary);
}

/*
//links
.link {
    @extend %dark-7;
    &:hover {
        @extend %normal-7;
    }
}

//material form elements
.mat-input-element,
.mat-form-field,
.mat-slide-toggle-content {
    @extend %lato;
}

.mat-form-field-ripple {
    background-color:map-get(map-get($sitePalette, c7), tertiary)!important;
}

.mat-focused .mat-form-field-label {
    color:map-get(map-get($sitePalette, c4), tertiary)!important;
}

.mat-form-field-prefix, .mat-form-field-suffix
.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon, 
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon {
    color:map-get(map-get($sitePalette, c4), secondary)!important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: map-get(map-get($sitePalette, c7), primary);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: map-get(map-get($sitePalette, c7), tertiary);
}

.mat-error {
    color: map-get(map-get($sitePalette, c5), light);
}
*/
