.ltk {
    .featured-list {
        @media only screen and (max-width:980px){
            height:250px;
        }
    }
}

header,
.is-home.ltk {
    header{
        .header-bg-fx {
            @include bgOpacity(255, 255, 255, .8);  
            @include transition(all, .5s, cubic-bezier(0.175, 0.885, 0.32, 1.275), 0s);
        };
        .ltk-logo-txt {
            transform-origin: left center;
            @include transform(scale(0));
            @media only screen and (max-width:680px){
                width:120px;
            }
            @include xsm {
                width:100px;
            }
        }
    }
}

.is-home.ltk {
    header {
        @include transition-delay(1.5s);
        @extend %bg-transparent;
        .header-bg-fx {
            @extend %opacity-0;
            @include transform(translate3d(0,-100%,0));
            box-shadow: 0 5px 5px rgba(7,81,107,.7);
        }

    }
}

.is-home.ltk.on-scroll {
    header {
        .header-bg-fx {
            @extend %opacity-1;
            @include transform(translate3d(0,0,0));
        };
        .ltk-logo-txt {
            @include transform(scale(1));
            @extend %opacity-1;
        }
    }
}

.ltk.on-scroll {
    .ltk-iso {
        @media only screen and (max-width:680px){
            width:42px;
        }
        @include sm {
            width:34px;
        }
    }
}
