.ltk {
    .home-intro {
        .swiper-container {
            height:100vh;
        }
    }
    .intro-home-slider {
        h2 {
            span {
                &:first-child {
                    @include sm {
                        display:none;
                    }
                }
                &:last-child {
                    @include sm {
                        font-size:.8em;
                        display:block;
                    }
                }
            }
        }
        .button.big {
            @include sm {
                font-size:2em;
                height:40px;
                line-height: 40px;
            }
        }
        img {
            @include sm {
                width:80px;
            }
        }
       
    } 
    .standard-section {
        h2 {
            @include md {
                font-size:3em;
            }
            @include sm {
                font-size:2.5em;
            }
            @include xsm {
                font-size:2em;
            }
        }
    }
}
.syndicates-users {
    .user-avatar {
        border:3px solid map-get(map-get($sitePalette, c2), secondary);
    }
}

.syn-cake {
    .quarter {
        border:1px solid map-get(map-get($sitePalette, c2), secondary);
        background:map-get(map-get($sitePalette, c7), primary);
    }
}