.ltk {
    .main-menu-icon.mat-icon-button {
        font-size:36px;
    }
    header {
        nav {
            background:rgba(255,255,255,.3)
        }
    }
    .main-nav {
        @extend %bg-light-2;
        width:50%;
        @include lg {
            width:70%;
        }
        @media only screen and (max-width:680px){
            width:100%;
        }
        li {
            @extend %fleft;
            @extend %width-100-percent;
            a {
                @extend %relative;
                font-size:2.5em;
                padding:3.5px;
                @extend %light-1;
                &:hover {
                   @extend %light-5;
                }
            };
            a.router-link-active {
               @extend %light-5;
               &:after { 
                    content: '';
                    @extend %absolute;
                    @extend %width-100-percent;
                    top: 50%;
                    left: -2%;
                    margin: -2px 0 0 0;
                    border-top: 4px solid map-get(map-get($sitePalette, c5), secondary);
               }
            }
        
        }
       .account-navigation-box {
            .main-menu-icon.mat-icon-button {
                @extend %margin-left-right-5;
                @extend %transition-035;
                &:first-child {
                    &:hover {
                        @extend %normal-9;
                    }
                }
                &:last-child {
                    &:hover {
                        @extend %normal-7; 
                    }
                }
            }
            
       }
    }
    .menu-options {
        top:8px;
        @media only screen and (max-width:680px){
            margin:0 5px 0 0;
        }
        @include sm {
            top:12px;
        }
        .menu-lang-wrap {
            a {
                width:25px;
                height: 25px;
                line-height: 25px;
                @include sm {
                    width:20px;
                    height: 20px;
                    line-height: 20px;
                }
            }  
        }
        .menu-lang-wrap,
        .menu-currency-wrap{
            a {
                @extend %txt-center;
            } 
        }
        .menu-currency-wrap {
            a {
                width:27px;
                height: 27px;
                line-height: 27px;
                font-size:1.4em;
                @include sm {
                    width:22px;
                    height: 22px;
                    line-height: 22px;
                    font-size:1.2em;
                }
            }
        }
        .user-options-wrap {
            top:-5px;
            @extend %bg-light-2;
            border:1px solid map-get(map-get($sitePalette, c2), tertiary);
            @include borderRadius(4px);
            .main-menu-icon.mat-icon-button {
                width:35px;
                height:35px;
                line-height:35px;
                font-size:30px;
                margin:0 1.5px;
                @include sm {
                    width:25px;
                    height:25px;
                    line-height:25px;
                    font-size:20px;
                }
            }
        }
        
    }
    .is-home.ltk.on-scroll {
        .menu-options {
            @extend %opacity-1
        }
    }; 
}