// colors
$sitePalette:(
    //blue
    c1:(
        primary:#007394,
        secondary:#007493,
        tertiary:#00506c,
    ),
     //white
     c2:(
        primary:#f1f1f1,
        secondary:#ffffff,
        tertiary:#cccccc,
    ),
    //black
    c3:(
        primary:#060606,
        secondary:#333333,
        tertiary:#000000,
    ),
    //gray
    c4:(
        primary:#9bafb8,
        secondary:#e6e6e2,
        tertiary:#314951,
    ),
    //red
    c5:(
        primary:#d11d05,
        secondary:#ff5a35,
        tertiary:#970000,
    ),
    //yellow
    c6:(
        primary:#ffeb01,
        secondary:#ffff56,
        tertiary:#c7b900,
    ),
    //green
    c7:(
        primary:#73cd1f,
        secondary:#b2ff5d,
        tertiary:#5fb602,
    ),
    //cyan 
    c8:(
      primary:#19eff4,
      secondary:#73ffff,
      tertiary:#00bcc1,
    ),
    //orange
    c9:(
      primary:#ff6008,
      secondary:#ff9241,
      tertiary:#c42b00,
    ),
    //vanish
    c10:(
      primary:#c4a747,
      secondary:#f9d876,
      tertiary:#917816,
    )
);

@function setcolor($color, $tone: primary) {
  @return map-get(map-get($sitePalette, $color), $tone);
}

@mixin sitePalette($k){
   
    %normal-#{$k} {
      color: setcolor(c#{$k}, primary);
    };
    %light-#{$k} {
      color: setcolor(c#{$k}, secondary);
    };
    %dark-#{$k} {
      color: setcolor(c#{$k}, tertiary);
    };
    %bg-normal-#{$k}{
      background: setcolor(c#{$k}, primary);
    };
    %bg-light-#{$k}{
      background: setcolor(c#{$k}, secondary);
    };
    %bg-dark-#{$k}{
      background: setcolor(c#{$k}, tertiary);
    };
    %border-normal-#{$k}{
      border-color:setcolor(c#{$k}, primary);
    };
    %border-light-#{$k}{
      border-color:setcolor(c#{$k}, secondary);
    };
    %border-dark-#{$k}{
      border-color:setcolor(c#{$k}, tertiary);
    };
}

// colors set
@for $i from 1 through 10 {

  @include sitePalette($i);
  .normal-#{$i}{
    @extend %normal-#{$i};
  }
  .light-#{$i}{
    @extend %light-#{$i};
  }
  .dark-#{$i}{
    @extend %dark-#{$i};
  }
  .bg-normal-#{$i} {
    @extend %bg-normal-#{$i};
  }
  .bg-light-#{$i} {
    @extend %bg-light-#{$i};
  }
  .bg-dark-#{$i} {
    @extend %bg-dark-#{$i};
  }
  .border-normal-#{$i} {
    @extend %border-normal-#{$i};
  }
  .border-light-#{$i} {
    @extend %border-light-#{$i};
  }
  .border-dark-#{$i} {
    @extend %border-dark-#{$i};
  }
}
